spring:
  application:
    name: instructor-service
  datasource:
    url: jdbc:postgresql://localhost:5432/instructor_db
    username: aarbhans
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: false
